.product-section {
    margin-top: 215px;
    text-align: center;

    .product-title {
        margin-bottom: 50px;

        .title {
            color      : $textColor;
            font-size  : 3.16rem;
            font-weight: 800;
            line-height: 131.523%;
        }
    }

    .product-item-list {
        display        : flex;
        justify-content: center;
        gap            : 412px 83.33px ;
        flex-wrap: wrap;

        .product-item {
            .product-background {
                padding-top     : 86px;
                width           : 270px;
                height          : 270px;
                border-radius   : 50%;
                background-color: #FFBA94;

                .product-name {
                    color      : $textColor;
                    text-align : center;
                    font-size  : 2.3rem;
                    font-weight: 700;
                }


                .product-desc {
                    display      : block;
                    position     : relative;
                    color        : #656565;
                    font-size    : 1.667rem;
                    font-weight  : 400;
                    line-height  : 21.667px;
                    margin-top   : 30px;
                    margin-bottom: 7px;

                    &::after {
                        content         : "";
                        display         : inline-block;
                        position        : absolute;
                        top             : -16.67px;
                        left            : 50%;
                        transform       : translateX(-50%);
                        width           : 41px;
                        background-color: #A3A3A3;
                        height          : 1.667px;
                    }
                }

                .product-price {
                    color        : $textColor;
                    font-size    : 1.667rem;
                    font-weight  : 400;
                    line-height  : 21.667px;
                    margin-bottom: 31px;

                    span {
                        color      : $textColor;
                        font-size  : 2.33rem;
                        font-weight: 600;
                        line-height: 26.667px;
                    }
                }

                .product-btn {
                    display        : inline-flex;
                    padding        : 13.333px 11.667px;
                    justify-content: center;
                    align-items    : center;
                    gap            : 8.333px;
                    border-radius  : 6.667px;
                    background     : #46B20F;
                    color          : #FFF;
                    font-size      : 2rem;
                    font-weight    : 700;
                }
            }
        }

        .product-item:nth-child(3n+2) {
            .product-background {
                background-color: #C5FFA8;
            }
        }
    }
}